Repository hmcts/crime-portal-infra, pull requests merged in 2023-10, with the labels that each got.

#24 chore: update module ref to test changes
  components/core/20-core-infra.tf
  environments/stg/stg.tfvars
Labels: stg_core/add-or-update, prod_core/add-or-update, stg_backend_database/no-changes, prod_backend_database/no-changes, stg_vm/no-changes, stg_rbac/no-changes, prod_vm/no-changes, prod_rbac/no-changes, stg_lb/no-changes, prod_lb/no-changes

#28 feat: add db admin group & bump postgresql version to 15
  components/database/11-inputs-optional.tf
  components/database/12-interpolated-defaults.tf
  components/database/20-postgresql.tf
Labels: stg_core/no-changes, prod_core/no-changes, prod_backend_database/destroy, stg_backend_database/destroy, stg_vm/no-changes, stg_rbac/no-changes, prod_vm/no-changes, prod_rbac/no-changes, stg_lb/no-changes, prod_lb/no-changes

#29 feat: added azure.extensions pgsql server parameter
  components/database/20-postgresql.tf
Labels: stg_core/no-changes, prod_core/no-changes, stg_backend_database/add-or-update, prod_backend_database/add-or-update, stg_vm/no-changes, stg_rbac/no-changes, prod_vm/no-changes, prod_rbac/no-changes, stg_lb/no-changes, prod_lb/no-changes

#30 Enable pg_stat_statements.
  components/database/20-postgresql.tf
Labels: stg_core/no-changes, prod_core/no-changes, stg_backend_database/add-or-update, prod_backend_database/add-or-update, stg_vm/no-changes, stg_rbac/no-changes, prod_vm/no-changes, prod_rbac/no-changes, stg_lb/no-changes, prod_lb/no-changes

#32 feat: update nsg rules
  environments/prod/prod.tfvars
  environments/stg/stg.tfvars
Labels: stg_core/add-or-update, prod_core/add-or-update, stg_backend_database/no-changes, prod_backend_database/no-changes, stg_vm/no-changes, stg_rbac/no-changes, prod_vm/no-changes, prod_rbac/no-changes, stg_lb/no-changes, prod_lb/no-changes

#36 Added Internal LB config
  environments/prod/prod.tfvars
  environments/stg/stg.tfvars
Labels: stg_core/add-or-update, prod_core/add-or-update, stg_backend_database/no-changes, prod_backend_database/no-changes, stg_vm/no-changes, stg_rbac/no-changes, prod_vm/no-changes, prod_rbac/no-changes, stg_lb/add-or-update, prod_lb/add-or-update
