Repository hmcts/crime-portal-infra, pull requests merged in 2024-01, with the labels that each got.

#38 feat: switch to appgw
  azure-pipelines.yaml
  components/app-gateway/10-inputs-required.tf
  components/app-gateway/12-interpolated-defaults.tf
  components/app-gateway/20-app-gateway.tf
  environments/stg/stg.tfvars
Labels: stg_core/no-changes, prod_core/no-changes, stg_backend_database/no-changes, prod_backend_database/no-changes, stg_vm/no-changes, stg_rbac/no-changes, stg_appgw/add-or-update, prod_vm/no-changes, prod_rbac/no-changes

#40 Fix/update root cert logic
  components/app-gateway/12-interpolated-defaults.tf
  components/app-gateway/20-app-gateway.tf
  environments/prod/crime-portal-prod.cer
  environments/stg/crime-portal-uat.cer
  environments/stg/stg.tfvars
Labels: stg_core/no-changes, prod_core/no-changes, stg_backend_database/no-changes, prod_backend_database/no-changes, stg_vm/no-changes, stg_rbac/no-changes, stg_appgw/add-or-update, prod_vm/no-changes, prod_rbac/no-changes

#43 feat: renamed subnet and added appgw supporting resources
  environments/prod/prod.tfvars
Labels: stg_core/add-or-update, prod_core/destroy, stg_backend_database/no-changes, prod_backend_database/no-changes, stg_vm/no-changes, stg_rbac/no-changes, stg_appgw/add-or-update, prod_vm/no-changes, prod_rbac/no-changes

#42 feat: update stg vars & switched core module branch ref
  azure-pipelines.yaml
  components/app-gateway/10-inputs-required.tf
  environments/prod/prod.tfvars
  environments/stg/stg.tfvars
Labels: stg_core/no-changes, prod_core/no-changes, stg_backend_database/no-changes, prod_backend_database/no-changes, stg_vm/no-changes, stg_rbac/no-changes, stg_appgw/add-or-update, prod_vm/no-changes, prod_rbac/no-changes, prod_appgw/add-or-update

#46 add ssl to app gw
  azure-pipelines.yaml
  components/app-gateway/00-init.tf
  components/app-gateway/10-inputs-required.tf
  components/app-gateway/12-interpolated-defaults.tf
  components/app-gateway/20-app-gateway.tf
  environments/prod/prod.tfvars
Labels: stg_core/no-changes, prod_core/no-changes, prod_vm/add-or-update, stg_backend_database/no-changes, prod_backend_database/no-changes, stg_vm/no-changes, stg_rbac/no-changes, prod_rbac/no-changes, prod_appgw/add-or-update

#48 uncomment stg stage
  azure-pipelines.yaml
Labels: prod_core/no-changes, prod_vm/add-or-update, prod_backend_database/no-changes, prod_rbac/no-changes, prod_appgw/add-or-update

#49 fix typo on backend
  environments/prod/prod.tfvars
Labels: prod_core/no-changes, prod_backend_database/no-changes, prod_vm/no-changes, prod_rbac/no-changes, prod_appgw/add-or-update

#50 fix-keyvault-id-typo
  components/app-gateway/12-interpolated-defaults.tf
Labels: prod_core/no-changes, prod_backend_database/no-changes, prod_vm/no-changes, prod_rbac/no-changes, prod_appgw/add-or-update

#51 fix typo on data source keyvault
  components/app-gateway/12-interpolated-defaults.tf
Labels: prod_core/no-changes, prod_backend_database/no-changes, prod_vm/no-changes, prod_rbac/no-changes, prod_appgw/add-or-update

#53 fix secret issue
  components/app-gateway/10-inputs-required.tf
  components/app-gateway/12-interpolated-defaults.tf
  components/app-gateway/20-app-gateway.tf
  environments/prod/prod.tfvars
Labels: prod_core/no-changes, prod_backend_database/no-changes, prod_vm/no-changes, prod_rbac/no-changes, prod_appgw/add-or-update

#52 feat: update vm bootstrap module ref to test clamav/splunk changes
  azure-pipelines.yaml
  components/vm/25-vms.tf
Labels: stg_core/no-changes, prod_core/no-changes, stg_vm/add-or-update, prod_vm/add-or-update, stg_backend_database/no-changes, prod_backend_database/no-changes, stg_rbac/no-changes, prod_rbac/no-changes, prod_appgw/add-or-update

#55 Automate SSL certificate provisioning in STG
  components/app-gateway/10-inputs-required.tf
  components/app-gateway/12-interpolated-defaults.tf
  components/app-gateway/20-app-gateway.tf
  environments/prod/prod.tfvars
  environments/stg/stg.tfvars
Labels: stg_core/no-changes, prod_core/no-changes, stg_backend_database/no-changes, prod_backend_database/no-changes, stg_vm/no-changes, stg_rbac/no-changes, prod_vm/no-changes, prod_rbac/no-changes, prod_appgw/add-or-update
