Repository hmcts/crime-portal-infra, pull requests merged in 2024-09, with the labels that each got.

#67 DTSPO-18847 - ama deploy on staging and production
  components/vm/00-init.tf
  components/vm/11-inputs-optional.tf
  components/vm/25-vms.tf
  environments/prod/prod.tfvars
  environments/stg/stg.tfvars
Labels: stg_core/no-changes, prod_core/no-changes, stg_vm/add-or-update, prod_vm/add-or-update, stg_backend_database/no-changes, prod_backend_database/no-changes, stg_rbac/no-changes, stg_appgw/add-or-update, prod_rbac/no-changes, prod_appgw/add-or-update

#65 XDR installation update
  components/vm/00-init.tf
  components/vm/10-inputs-required.tf
  components/vm/12-interpolated-defaults.tf
  components/vm/25-vms.tf
  components/vm/outputs.tf
  environments/stg/stg.tfvars
Labels: stg_core/no-changes, prod_core/no-changes, stg_vm/add-or-update, prod_vm/add-or-update, stg_backend_database/no-changes, prod_backend_database/no-changes, stg_rbac/no-changes, stg_appgw/add-or-update, prod_rbac/no-changes, prod_appgw/add-or-update

#68 Removing extension for docker installs, replacing with updated bootstrap input to install docker via single run command script from Bootstrap module
  components/vm/10-inputs-required.tf
  components/vm/25-vms.tf
  environments/stg/stg.tfvars
Labels: stg_core/no-changes, prod_core/no-changes, prod_vm/add-or-update, stg_vm/destroy, stg_backend_database/no-changes, prod_backend_database/no-changes, stg_rbac/no-changes, stg_appgw/add-or-update, prod_rbac/no-changes, prod_appgw/add-or-update

#69 Dtspo 18760 prod deploy xsiam xdr agent to crime portal virtual machine
  components/vm/25-vms.tf
  environments/prod/prod.tfvars
Labels: stg_core - TerraformPlanApply/no-changes, stg_vm - TerraformPlanApply/no-changes, stg_appgw - TerraformPlanApply/add-or-update, stg_rbac - TerraformPlanApply/no-changes, prod_core - TerraformPlanApply/no-changes, prod_rbac - TerraformPlanApply/no-changes, prod_appgw - TerraformPlanApply/add-or-update, prod_vm - TerraformPlanApply/destroy

#70 Prod: Deploy XSIAM XDR agent to Crime Portal Virtual Machine(s) - add xdr tags
  components/vm/10-inputs-required.tf
  components/vm/12-interpolated-defaults.tf
  components/vm/25-vms.tf
Labels: stg_core - TerraformPlanApply/no-changes, stg_appgw - TerraformPlanApply/add-or-update, stg_rbac - TerraformPlanApply/no-changes, prod_core - TerraformPlanApply/no-changes, prod_vm - TerraformPlanApply/add-or-update, prod_rbac - TerraformPlanApply/no-changes, prod_appgw - TerraformPlanApply/add-or-update, stg_vm - TerraformPlanApply/add-or-update
